* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: sans-serif;
    color: #e5e7eb;
    background-color: #1F2937;
}

header {
    display:flex;
    justify-content: space-between;
    margin: 20px 250px 125px;

}

.header h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 15px;
}

.hero {
    display:flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    gap: 50px;
}

.header-logo {
    color: #f9faf8;
    font-weight: bolder;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.hero button, .lower-sign-up button {
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 0.6em;
    color: #e5e7eb;
    font-weight: bolder;
    font-size: inherit;
    border: solid black;
    cursor:pointer;
}


.hero p {
    margin-bottom: 10px;
}

.hero-placeholder {
    background-color: grey;
    height: 250px;
    width: 1000px;
    /*padding: 100px 150px;*/
    /*text-wrap: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info, .lower-sign-up {
    background-color: white;
    color: #1f2937;
    text-align: center;
}


.information-header {
    font-size: 36px;
    font-weight: bold;
    padding: 50px 0;
}


.random-illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
}

.random-placeholder {
    border: 4px solid #3882f6;
    width: 100%;
    height: 175px;
    border-radius: 0.75em;
    margin-bottom: 10px;
}


figcaption {
    padding: 0;
    width: 100%;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    margin-top: 100px;
    /*height: 300px;*/
    width: 850px;
}

.author {
    font-weight: bold;
    font-style: normal;
    align-self: end;
    margin-right: 350px;
    margin-bottom: 100px;
    font-size: 0.66em;
}

.lower-sign-up {
    display: flex;
    justify-content: center;
}

.su-inner-box {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 1000px;
    height: 150px;
    margin: 100px 0;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
;
}

.call-to-action-heading {
    text-align: left;
}

.lower-sign-up button {
    border: solid white;
    cursor:pointer;
}

button:hover {
    background-color: #e5e7eb;
    color: #1f2937;
    border-color: #1f2937;
}